{% extends "base.html" %}
{% block title %}Bible Search Form{% endblock %}
{% block content %}
<script defer src="{{ url_for('static', filename='js/bible-search-form.js') }}"></script>
<div class="form-grid">

  <form action="" method="post" novalidate>
    <h2>聖經經節查詢</h2>
    {{ form.hidden_tag() }}
    <h3>{{ form.book_name.label }}</h3>
    <p>
        {{ form.book_name }}
        {% for error in form.book_name.errors %}
         <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <h3>{{ form.chapter.label }}</h3>
    <p>
        {{ form.chapter }}
        {% for error in form.chapter.errors %}
         <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <h3>{{ form.start_verse.label }}</h3>
    <p>
        {{ form.start_verse }}
        {% for error in form.start_verse.errors %}
         <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <h3>{{ form.end_verse.label }}</h3>
    <p>
        {{ form.end_verse }}
        {% for error in form.end_verse.errors %}
         <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
      <p id="translation-check-boxes">
          {% for subfield in form.translations %}
      <div class="form-check">
          {{ subfield(class="form-check-input") }}
          {{ subfield.label(class="form-check-label") }}
      </div>
      {% endfor %}
      {% for error in form.translations.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      </p>
    {{ form.submit(class="btn btn-primary") }}
</form>
    {% if bible_search_results_json %}
      <script>
          const results = {{ bible_search_results_json | tojson }};
          channel.postMessage({ type: "bible_search", bible_search_results: results });
      </script>
    {% endif %}
</div>
{% endblock %}